.top {
    background-color: rgba(34, 29, 29, 0.856);
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px black solid;
}

.index {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: -200px;
}

th {
    border: 1px solid rgb(247, 241, 241);
}

.submit-input {
    border: none;
    background: none;
}

.textcomplete {
    display: none;
}

.btn-upload {
    border: 1px solid black;
}